JWXT_STUDENT_ID=your_student_id
JWXT_PASSWORD=your_password
CREDENTIAL_SECRET=change_me_to_a_long_random_secret
TIMETABLE_TERM_YEAR=2025
TIMETABLE_TERM_SEMESTER=12
SEMESTER_START_DATE=2026-02-24
TEACHING_WEEK_START_DATE=2026-03-09
